@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
button,
select,
textarea,
input {
    font-family: 'Roboto';
    font-size: 16px;
    background-color: slategray
}

h1,
h2,
h3,
p {
    color: antiquewhite
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
}

h1,
h2,
h3 {
    text-align: center;
}

p {
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

a,
a:visited {
    color: antiquewhite
}

td {
    color: antiquewhite
}

table,
tbody,
thead,
th,
tr,
td {
    border: 2px solid antiquewhite;
    text-align: center;
}