<!DOCTYPE html>
<html>
    <head>
        <title>Loan Application</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'form' %}">Loan Application</a></li>
                </ul>
            </nav>
        </header>
        <main class="text-center">
            <h2>ML Financial loan application</h2>
            <br></br>
            <p>
                Fill out the application below and get your results right away! Your results will appear at the bottom of the form once you submit.
            </p>
            <div class="card mx-auto" style="width: 60rem;">
                <div class="card-header">
                    <h3>Application Form</h3>
                  </div>
            <form id="contactForm" action="{% url 'form' %}" method="post">
             {% csrf_token %}			
                <div class="form-group">
                    <label class="label-control" for="genders">Gender</label>
                    <select id="genders" class="form-select" name="genders" required>
                    <option value="1">Male</option>
                    <option value="0">Female</option>                           
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            
                <div class="form-group">
                    <label class="label-control" for="married"> Marital status of the applicant</label>
                    <select id="married" class="form-select" name="married" required>
                    <option value="1">Married</option>
                    <option value="0">Single</option>                           
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            
                <div class="form-group">
                    <label class="label-control" for="education">Education level of the applicant</label>
                    <select id="education" class="form-select" name="education" required>
                    <option value="1">graduated</option>
                    <option value="0">not graduated</option>                           
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            
                <div class="form-group">
                    <label class="label-control" for="dependents_list">Dependents: No. of people dependent on the applicant (0,1,2,3+)</label>
                    <select id="dependents_list" name="dependents_list" class="form-select" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="4">3+</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label class="label-control" for="employment"> Self-employed (Yes, No)</label>
                    <select id="employment" name="employment" class="form-select" required>
                    <option value="1">Yes</option>
                    <option value="0">No</option>                           
                    </select>
                </div>

                <label class="form-label" for="applicantIncome">applicant Income: The amount of income the applicant earns:(no comma)</label>
                <div class="input-group mb-3">
                    <input name="applicantIncome" type="number" min="0" max="1000000" class="form-control" id="applicantIncome" required>
                </div>
                <label class="label-control" for="coapplicantIncome">Co-applicant Income: The amount of income the co-applicant earns:(no comma)</label>
                <div class="input-group mb-3">
                    <input name="coapplicantIncome" type="number" min="0" max="1000000" class="form-control" id="coapplicantIncome" required>
                    <div class="help-block with-errors"></div>
                </div>
                <label class="label-control" for="loan_amnt">Loan Amount (1000 to 10000, no comma):</label>
                <div class="input-group mb-3">
                    <input name="loan_amnt" class="form-control" type="number" min="1000" max="10000" id="loan_amnt" required>
                    <div class="help-block with-errors"></div>
                </div>
                <label class="label-control" for="term_d">Loan Amount Term: The  no. of days over which the loan will be paid (in Days)</label>
                <div class="input-group mb-3">
                    <input name="term_d"  class="form-control" type="number" min="10" max="365" id="term_d" required>
                    <div class="help-block with-errors"></div>
                </div>
            
                <div class="form-group">
                    <label class="label-control" for="crhist_list">Credit History of a borrower's responsible repayment of debts</label>
                    <select id="crhist_list" name="crhist_list" class="form-select" required>
                    <option value="0">Less than good credit</option>
                    <option value="1">Good Credit(All debts paid)</option>
                    
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            
                
                <div class="form-group">
                    <label class="label-control" for="property_list">Property_Area</label>
                    <select class="form-select" id="property_list" name="property_list" required>
                    <option value="0">Rural</option>
                    <option value="1">Semi Rural</option>
                    <option value="2">Urban</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>	
            <button type="submit" class="btn btn-primary">MAKE PREDICTION</button>
            </form>
        </div>
            <div>
                {% if result %}
                <h4>{{ result }}</h4>
                {% endif %}
            </div>
        </main>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <div id=contact class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-container about">
                            <h4>Developed by:</h4>
                            <h2 class="white">Kervin Clenance</h2>
                            <p class="white"><i class="fas fa-briefcase">&nbsp;&nbsp;Software Engineer</i></p>
                            <p class="white"><i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;klclenance@gmail.com</i></p>
                        
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-md-2">
                        <div class="text-container">
                            <h4>Connect</h4>
                            <ul class="list-unstyled li-space-lg white">
                                <li>
                                    <a class="white" href="https://www.linkedin.com/in/kervin-clenance-bb847a157/">Linkedin</a>
                                </li>
                                <li>
                                    <a class="white" href="https://gitlab.com/klclenance99">Gitlab</a>
                                </li>
                            </ul>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-md-2">
                        <div class="text-container">
                            <h4>Tools Used</h4>
                            <ul class="list-unstyled li-space-lg">
                                <li>
                                    <a class="white" href="#">Python</a>
                                </li>
                                <li>
                                   <a class="white" href="#">Seaborn</a>
                                </li>
                                <li class="media">
                                    <a class="white" href="#">Scikit-learn</a>
                                </li>
                                <li class="media">
                                    <a class="white" href="#">Django</a>
                                </li>
                                <li class="media">
                                    <a class="white" href="#">Google Colab</a>
                                </li>
                            </ul>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->  
    </body>
</html>