<!DOCTYPE html>
<html>
    <head>
        <title>Loan Application</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'form' %}">Loan Application</a></li>
                </ul>
            </nav>
        </header>
        <main class="text-center">
            <h2>ML Financial's loan eligibility application</h2>
            <br></br>
            <div class="card mx-auto" style="width: 40rem;">
                <img src="https://www.merchantmaverick.com/wp-content/uploads/2018/07/bigstock-138491630.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Welcome to ML Financial's loan application website! Here you will be able to fill out your loan application to determine whether or not you will be approved for your loan. Using linear regression, ML Financial is able to predict your loan eligibility with an accuracy of 83%.</p>
                  <a href="{% url 'form' %}" class="btn btn-primary">Apply Now</a>
                </div>
              </div>
        </main>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <div id=contact class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-container about">
                            <h4>Developed by:</h4>
                            <h2 class="white">Kervin Clenance</h2>
                            <p class="white"><i class="fas fa-briefcase">&nbsp;&nbsp;Software Engineer</i></p>
                            <p class="white"><i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;klclenance@gmail.com</i></p>
                        
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-md-2">
                        <div class="text-container">
                            <h4>Connect</h4>
                            <ul class="list-unstyled li-space-lg white">
                                <li>
                                    <a class="white" href="https://www.linkedin.com/in/kervin-clenance-bb847a157/">Linkedin</a>
                                </li>
                                <li>
                                    <a class="white" href="https://gitlab.com/klclenance99">Gitlab</a>
                                </li>
                            </ul>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-md-2">
                        <div class="text-container">
                            <h4>Tools Used</h4>
                            <ul class="list-unstyled li-space-lg">
                                <li>
                                    <a class="white" href="#">Python</a>
                                </li>
                                <li>
                                   <a class="white" href="#">Seaborn</a>
                                </li>
                                <li class="media">
                                    <a class="white" href="#">Scikit-learn</a>
                                </li>
                                <li class="media">
                                    <a class="white" href="#">Django</a>
                                </li>
                                <li class="media">
                                    <a class="white" href="#">Google Colab</a>
                                </li>
                            </ul>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->  
    </body>
</html>